html {
  color: rgb(250, 235, 215);
  background-size: 400% 400%;
  background: linear-gradient(-45deg, #f01212, #094d75);
  animation: slow-background-movement 5s ease infinite;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
