html {
  background: linear-gradient(-45deg, #f01212, #094d75);
  height:fit-content;
}

.App {
  text-align: center;
  color: rgb(250, 235, 215);
}

.beast-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Cards */

.card {
  border: 4px solid black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.376);
  margin-bottom: 1rem;
}

.card-img-top {
  border-bottom: 4px solid black;
  transition: opacity 0.5s ease-in-out;
}

.card-img-top:hover {
  opacity: 0.5;
}

.card-body {
  margin: auto 0.25rem;
}
